<html>
  <head>
    <title>GIROPOPS STRIGUS GIRUS</title>
  </head>
  <body>
    <h1>Descomplicando o ansible</h1>
    <h2>Esse aqui é o meu IP: {{ ansible_facts.enp1s0.ipv4.address }}</h2>
    <p>Apenas uma breve introdução</p>
  </body>
</html>  

